<div class="main">
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput">{{componenquestion}}</label>
  <button id="days-button1" class="days-button" (click)="selectList(1)" (click)="stylechanger(1)">Liste 1</button>
  <button id="days-button2" class="days-button" (click)="selectList(2)" (click)="stylechanger(2)">Liste 2</button>
  <button id="days-button3" class="days-button" (click)="selectList(3)" (click)="stylechanger(3)">Liste 3</button>
  <button id="days-button4" class="days-button" (click)="selectList(4)" (click)="stylechanger(4)">Liste 4</button>
  <button id="days-button5" class="days-button" (click)="selectList(5)" (click)="stylechanger(5)">Liste 5</button>
  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput" />

  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  
  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
      <div class="comments-section">
        <h3>Comments</h3>
        <ul>
          <li *ngFor="let comment of i.comments">{{ comment }}</li>
        </ul>
        <input #newComment placeholder="add a comment" (keyup.enter)="addComment(i, newComment.value); newComment.value = ''" />
        <button (click)="addComment(i, newComment.value); newComment.value = ''">Add Comment</button>
      </div>
    </li>
  </ul>
</div>