.main {
    max-width: 500px;
    width: 85%;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    box-shadow:
      0 2px 4px 0 rgb(0 0 0 / 20%),
      0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
  }
  
  @media screen and (min-width: 600px) {
    .main {
      width: 70%;
    }
  }
  
  label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
  }
  
  .lg-text-input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #000;
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .btn-wrapper {
    margin-bottom: 2rem;
  }
  
  .btn-menu {
    flex-basis: 32%;
  }
  
  .active {
    color: green;
  }
  
  ul {
    padding-inline-start: 0;
  }
  
  ul li {
    list-style: none;
  }
  .comments-section {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .comments-section h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .comments-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .comments-section li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
  }
  
  .comments-section input {
    width: calc(100% - 110px);
    padding: 5px;
    margin-right: 10px;
  }
  
  .comments-section button {
    padding: 5px 10px;
  }

  #buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.8%;
  }

  #adddeletebuttons {
    font-weight: 900;
  }
